.tc_TopBar {
  background-color: #162d58;
  height: 80px;
  color: #f2f5f8;
}

.tc_TopBar_logo {
  width: 60px;
  margin-top: 10px;
}

.tc_TopBar_tag {
  vertical-align: middle;
  margin-top: -54px;
  display: inline-block;
  margin-left: 20px;
  font-size: 34px;
}
