:root[data-theme="theme-light"] {
  --body-bg-color: #ffffff;
  --icon-color: #212121;
  --slider-round-color: #424242;
  --text-color: #212121;
  --bg-color: #f2f5f8;
  --server-status-bg-color: #e0e0e0;
  --server-status-time-color: slategrey;
}
