:root[data-theme="theme-dark"] {
  --body-bg-color: #616161;
  --icon-color: #e0e0e0;
  --slider-round-color: #bdbdbd;
  --text-color: #f5f5f5;
  --bg-color: #424242;
  --server-status-bg-color: #616161;
  --server-status-time-color: #bdbdbd;
}
