.tc_ServerStatus {
    width: 100%;
    height: 40px;
    background-color: var(--server-status-bg-color);
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
    margin-bottom: 7px;
}

.tc_ServerStatus_block {
    display: inline-block;
}

.tc_ServerStatus_title {
    position: relative;
    top: -21px;
    width: 100%;
    left: 38px;
    color: var(--text-color);
}

.tc_ServerStatus_status {
    border-radius: 10px;
    width: 16px;
    height: 16px;
    margin: 11px 14px 0 11px;
    border: 1px solid darkgrey;
}

.tc_ServerStatus_status_ok {
    background-color: green;
}

.tc_ServerStatus_status_ko {
    background-color: red;
}

.tc_ServerStatus_status_w {
    background-color: orange;
}

.tc_ServerStatus_time {
    position: absolute;
    top: 4px;
    right: 48px;
    font-size: 11px;
    font-style: italic;
    color: var(--server-status-time-color);
    margin-left: 6px;
}
